
// ----- font sizing -----
//
// See Bootstrap vars fonts section...
// https://github.com/twbs/bootstrap/blob/v4-dev/scss/_variables.scss


// ----- spacing -----
//
// See Bootstrap vars spacing section...
@function space($idx: 3) {
  @return map-get($spacers, $idx);
}


// ----- math utils -----
@function pow($number, $exponent) {
  $value: 1;

  @if $exponent > 0 {
    @for $i from 1 through $exponent {
      $value: $value * $number; // stylelint-disable-line scss/no-duplicate-dollar-variables
    }
  }
  @else if $exponent < 0 {
    @for $i from 1 through -$exponent {
      $value: $value / $number; // stylelint-disable-line scss/no-duplicate-dollar-variables
    }
  }

  @return $value;
}

@function sq($number) {
  @return $number * $number;
}

@function sqrt($number) {
  $x-0: 1;
  $x-1: $x-0;

  @for $i from 1 through 10 {
    // stylelint-disable-next-line scss/no-duplicate-dollar-variables
    $x-1: $x-0 - ($x-0 * $x-0 - abs($number)) / (2 * $x-0);
    $x-0: $x-1; // stylelint-disable-line scss/no-duplicate-dollar-variables
  }

  @return $x-1;
}

@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

