
html, body {
  position: relative;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin: 0;
  // overflow-x: hidden;
}

html {
  height: 100%;
  color: red
}


body {
  visibility: visible;
  min-width: 320px;
  margin: 0 auto
}

