
// See existing SASS 4 mixins before adding anything here: https://github.com/twbs/bootstrap/tree/v4-dev/scss/mixins


// ----- breakpoints -----
//
// Use media-breakpoint-up(), media-breakpoint-down(), or media-breakpoint-only()
// sizes -- xs, sm, md, lg, and xl

// ----- button overrides -----
@mixin button-variant(
  $background,
  $border,
  $hover-background: darken($background, 7.5%),
  $hover-border: darken($border, 10%),
  $active-background: darken($background, 10%),
  $active-border: darken($border, 12.5%)
) {
  @include gradient-bg($background);
  @include box-shadow($btn-box-shadow);
  color: color-yiq($background);
  border-color: $border;

  @include hover {
    @include gradient-bg($hover-background);
    color: color-yiq($hover-background);
    border-color: $hover-border;
  }

  // Disabled comes first so active can properly restyle
  &.disabled,
  &:disabled {
    color: $white;
    background-color: $muted;
    border-color: $muted;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: color-yiq($active-background);
    background-color: $active-background;
    border-color: $active-border;
  }
}

@mixin button-outline-variant(
  $color,
  $hover-color: $color,
  $active-color: $color,
) {
  color: $color;
  background-color: $transparent;
  background-image: none;
  border-color: $color;

  &:hover {
    color: $hover-color;
    background-color: $transparent;
    border-color: $hover-color;

    .dropdown & {
      border-color: $color;
    }
  }

  &.disabled,
  &:disabled {
    color: $muted;
    background-color: $transparent;
    border-color: $muted;
  }

  &:not(:disabled):not(.disabled):active,
  &:not(:disabled):not(.disabled).active,
  .show > &.dropdown-toggle {
    color: $active-color;
    background-color: $transparent;
    border-color: $active-color;
  }

  .dropdown > & {
    border-width: 1px;
    padding: $btn-padding-y * 0.75 $btn-padding-x;
  }
}

// ----- multi-state -----
//
@mixin all-states($self: true) {
  @if $self {
    @content;
  }

  &:hover,
  &:active,
  &:focus,
  &:hover:active,
  &:hover:focus,
  &:active:focus,
  &:hover:active:focus {
    @content;
  }
}


// ----- responsivize util -----
//
$_w: ''; // https://github.com/sass/sass/issues/871
@mixin responsivize {
  @each $width in xs, sm, md, lg, xl {
    $_w: if($width == xs, '', '-#{$width}') !global; // stylelint-disable-line
    @include media-breakpoint-up($width) {
      @content;
    }
  }
}

// ----- line awesome util -----

@mixin la-icon() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: $font-weight-normal;
  font-family: $la-font-name;
  line-height: $la-line-height-base;
  font-size: $la-font-size-base;
}

