
// ----- base typography -----

* {
  text-size-adjust: none;
  -webkit-tap-highlight-color: $transparent;
}

html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: $font-size-root;
}

strong {
  font-weight: $font-weight-bold;
}


// ----- headings -----

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  margin-top: 0;
  margin-bottom: 0.5em;
  font-family: $font-family-serif;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

// NOTE: heading font sizes are controlled by Bootstrap var overrides
h1, .h1 {
  @include media-breakpoint-down(sm) {
    font-size: $h1-font-size-sm;
  }

  small {
    font-size: $font-size-base * 1.25;
    font-family: $font-family-sans-serif;
    font-weight: $font-weight-bold;
    display: block;
    color: $secondary;
    text-transform: uppercase;
  }
}

h2, .h2 {
  @include media-breakpoint-down(sm) {
    font-size: $h2-font-size-sm;
  }

  small {
    font-size: $font-size-base * 1.25;
    font-weight: $font-weight-bold;
    display: block;
    text-transform: uppercase;
  }
}

h3, .h3 {
  @include media-breakpoint-down(sm) {
    font-size: $h3-font-size-sm;
  }
}

h4, .h4 {
  @include media-breakpoint-down(sm) {
    font-size: $h4-font-size-sm;
  }
}

h5, .h5, h6, .h6 {
  font-weight: $font-weight-bold;
}

@include responsivize {
  @each $style in map-keys($font-sizes-group) {
    .font-size#{$_w}-#{$style} {
      font-size: map-get($font-sizes-group, $style);
    }
  }
}


// ----- paragraphs -----
//
// p {
//   margin-bottom: 1em;
// }

// ----- buttons -----

// unstyle unclassed buttons
button {
  color: inherit;
  font: inherit;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  &:focus {
    outline: none; // any "real" buttons will use the btn .focus style
  }
}

// faux button.  use this instead of unstyling a button to work better in IE
[role='button'] {
  cursor: pointer;
  border-radius: $btn-border-radius;
  &:focus {
    outline: 0;
    box-shadow: $btn-focus-box-shadow;
  }
}

.dropdown-item {
  font-weight: $btn-font-weight;
}

@each $color, $value in $theme-colors {
  .btn-#{$color} {
    @if $color == 'primary' or $color == 'secondary' { // can expand available colors, if necessary
      @include button-variant(
        $value,
        $value,
        map-get($btn-hover-colors, $color),
        map-get($btn-hover-colors, $color),
        darken(map-get($btn-hover-colors, $color), 10%),
        darken(map-get($btn-hover-colors, $color), 12.5%)
      );
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    @if $color == 'primary' or $color == 'secondary' { // can expand available colors, if necessary
      @include button-outline-variant(
        $value,
        map-get($btn-hover-colors, $color),
        darken(map-get($btn-hover-colors, $color), 10%)
      );
    }
  }
}

.btn-transparent {
  @include button-outline-variant(
    $link-color,
    $link-hover-color,
    $link-color,
  );
  @include all-states {
    border: 0;
  }
}

// ----- links -----

.a {
  // i.e. make a button look like an <a>
  display: inline;
  cursor: pointer;
  text-align: inherit;

  // copied from bootstrap link reset css
  color: $link-color;
  text-decoration: $link-decoration;
  background-color: $transparent;
  -webkit-text-decoration-skip: objects; // stylelint-disable-line property-no-vendor-prefix

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }

  &:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color; // stylelint-disable-line declaration-block-no-duplicate-properties
  }

  &.disabled, &:disabled {
    color: $muted !important;// stylelint-disable-line declaration-no-important
    pointer-events: none;
  }

  &.active {
    color: $link-hover-color;
  }

  &.text-accent {
    @include hover-focus {
      color: $primary !important; // stylelint-disable-line declaration-no-important
    }
  }
}

// ----- links -----

.link {

  &-strong {
    font-size: $font-size-sm;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

// ----- nav -----

// .nav {
//   flex-wrap: nowrap;
// }

// .nav-item {
//   .nav-link {
//     display: inline-block;
//     color: $gray;
//     font-family: $open-sans-condensed-bold;
//     white-space: nowrap;
//     padding: space(1) space(2);
//     border-bottom: 2px solid $transparent;

//     &.active, &:hover {
//       color: $pru-navy;
//       border-bottom: 2px solid $pru-navy;
//       text-decoration: none;
//     }
//   }
// }

// ----- tabs -----

.nav-tabs {
  .nav-item {
    margin-top: 5px;
  }

  .nav-link {
    @include margin(null space(3));
    text-decoration: none;
    transition: border 0.3s, color 0.3s;
    white-space: nowrap;
    font-weight: $font-weight-bold;
    border-top: 0;
    border-left: 0;
    border-right: 0;

    @include hover-focus {
      color: $nav-tabs-link-active-color;
    }
  }
}

// ----- cards -----

.card {
  border-radius: 0;
  border-width: 2px;

  &-title {
    text-transform: uppercase;
  }

  &-text {
    font-size: $font-size-xl;
  }
}


// ----- default lists ----

%common-list-styles {
  color: $secondary;
  display: inline-block;
  width: 1.25em;
  margin-left: -1.25em;
}

ol {
  &:not([class]) {
    list-style-type: none;
    counter-reset: li;

    > li:before {
      @extend %common-list-styles;
      counter-increment: li;
      content: '#{counter(li)}.';
      font-weight: $font-weight-bold;
    }
  }

  ol {
    &:not([class]) {
      list-style-type: none;
      counter-reset: orderedChild;

      > li:before {
        @extend %common-list-styles;
        counter-increment: orderedChild;
        content: '#{counter(orderedChild, lower-alpha)}.';
        font-weight: $font-weight-bold;
      }
    }
  }
}

ul {
  &:not([class]) {
    list-style-type: none;

    > li:before {
      @extend %common-list-styles;
      content: '\25CF';
    }
  }

  ul {
    &:not([class]) {
      list-style-type: none;

      > li:before {
        @extend %common-list-styles;
        content: '\25CB';
      }
    }
  }
}


// ----- list groups ----

.list-group {
  &__row {
    flex-flow: row wrap;
    margin-right: - space(3) / 2;
    margin-left: - space(3) / 2;
    // justify-content: space-between;

    .list-group-item {
      &.grid-row-half {
        width: calc(50% - #{space(3)});
      }

      &.grid-row-thirds {
        width: calc(100% / 3 - #{space(3)});
        @include media-breakpoint-up(lg) {
          &:nth-child(3) {
            border-top: 0;
          }
        }
      }

      &.grid-row-half, &.grid-row-thirds {
        margin-right: space(3) / 2;
        margin-left: space(3) / 2;

        @include media-breakpoint-up(lg) {
          &:nth-child(2) {
            border-top: 0;
          }
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }
  }

  &-item {
    border-bottom: 0;
    border-left: 0;
    border-right: 0;

    &:first-child {
      border-top: 0;
    }

    @include media-breakpoint-down(sm) {
      padding: space(2) 0;
    }
  }

  &--bullets > &-item {
    padding-left: space(4);

    &:before {
      @extend %common-list-styles;
      content: '\25CF';
    }
  }
}

// ----- cta-list-inline -----

@include responsivize {
  .cta-list#{$_w}-inline {
    li:first-of-type:not(:last-of-type) {
      padding-right: space(3);
      margin-right: space(3);
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: space(2);
        bottom: space(2);
        right: $border-width * -1;
        margin: auto;
        width: $border-width * 2;
        background-color: $primary;
      }
    }
  }
}

// ----- hrs -----

hr {
  @include margin(space(5) null);
  border-width: 2px;
}

.text-hr {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  width: 100%;

  &:before, &:after {
    border-top: 2px solid $primary;
    content: '';
    width: 45%;
  }

  &:before {
    margin-right: space();
  }

  &:after {
    margin-left: space();
  }

  @include media-breakpoint-down(sm) {
    white-space: normal;
    &:before, &:after {
      display: none;
    }
  }
}

// ----- generic text -----

.text-small {
  font-size: $font-size-sm;
}

.text-separator {
  position: relative;
  display: inline-block;

  &:after {
    content: '';
    display: inline-block;
    position: relative;
    width: $border-width * 2;
    height: 1.2em;
    margin-left: 1em;
    margin-right: 1em;
    top: 0.25em;
    background-color: $primary;
  }
}

// ----- background triangle -------

.bg-triangle {
  background-image: url('/assets/images/util/triangle-accent.png');
  background-repeat: no-repeat;

  &-center {
    background-position: top center;
  }

  &-left {
    background-position: top left;

    &.row {
      background-position: $content-margin 0;
    }
  }

  &-right {
    background-position: top right;
  }

  &-sm {
    background-size: 140px 70px;
    @include media-breakpoint-only(xs) {
      background-size: 105px 52.5px;
    }
  }

  &-md {
    background-size: 360px 180px;
    @include media-breakpoint-only(xs) {
      background-size: 270px 135px;
    }
  }

  &-full {
    background-size: 50vw 25vw;
  }
}


// ----- charts -------

.recharts-cartesian-axis-tick-value {
  font-size: $font-size-xs;
  fill: $dark-gray;
}

.recharts-cartesian-axis .recharts-label {
  font-size: $font-size-xs;
  fill: $medium-gray;
}

.recharts-legend-item-text {
  font-size: $font-size-xs;
  color: $medium-gray;
}

.recharts-default-tooltip {
  font-size: $font-size-sm;
}

.recharts-tooltip-label {
  font-weight: $font-weight-bold;
}


// ----- bootstrap tooltips -----
.tooltip {
  .tooltip-inner {
    background-color: $light-gray;
  }

  .arrow:before {
    border-right-color: $light-gray;
  }
}
