
// See existing SASS 4 utils before adding anything here: https://getbootstrap.com/docs/4.0/utilities/


// ----- Font Weight -----

.font-weight-medium {
  font-weight: $font-weight-medium;
}

// ----- Float Clearing -----

@include responsivize {
  @each $style in left, right, both {
    .clear#{$_w}-#{$style} { clear: $style; }
  }
}

