
// ----- typography -----
//
$roboto: 'Roboto', helvetica, sans-serif;
$roboto-slab: 'Roboto Slab', times, sans-serif;
$font-family-sans-serif: $roboto;
$font-family-serif: $roboto-slab;

$font-size-root: 16px;
$font-size-base: 1rem;
$font-size-xl: $font-size-base * 1.3125;
$font-size-lg: $font-size-base * 1.125;
$font-size-sm: $font-size-base * 0.875;
$font-size-xs: $font-size-base * 0.75;

$line-height-base: 1.5;

$h1-font-size: $font-size-base * 3;
$h2-font-size: $font-size-base * 2.25;
$h3-font-size: $font-size-base * 1.625;
$h4-font-size: $font-size-base * 1.3125;
$h5-font-size: $font-size-base * 1.125;
$h6-font-size: $font-size-base;

$h1-font-size-sm: $font-size-base * 2.25;
$h2-font-size-sm: $font-size-base * 1.625;
$h3-font-size-sm: $font-size-base * 1.3125;
$h4-font-size-sm: $font-size-base * 1.125;
$h5-font-size-sm: $font-size-base;

$headings-font-weight: 400;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;


$font-sizes-group: (
  xlarge: $font-size-xl,
  large: $font-size-lg,
  small: $font-size-sm,
  xsmall: $font-size-xs,
);

// ----- layout -----
//
$max-content-width: 1200px;
$grid-gutter-width: 30px;
$content-margin: $grid-gutter-width / 2;

// ----- spacing -----
//

$spacer: 1rem !default;
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * 0.25),
    2: ($spacer * 0.5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 6),
    7: ($spacer * 12),
    8: ($spacer * 24)
  ),
  $spacers
);


// ----- colors -----
//

// theme colors
$dark-gray: #313131;      // dark
$medium-gray: #a1a1a1;
$light-gray: #d7d7d7;
$dark-blue: #03446e;
$light-blue: #027eac;
$accent-blue: #00c2ee;
$pastel-blue: #c1e7f7;
$pastel-blue-40: #e6f5fc;
$blue-gray: #e4ebf2;
$blue-gray-50: #f1f5f8;   // light
$medium-blue: #457bbe;

// SF theme colors
// $gray-1: #313131;
// $gray-2: #757575;
// $gray-3: #a1a1a1;
// $gray-4: #d7d7d7;
// $gray-5: #f5f5f5;
// $gray-6: #f9f9f9;
// $blue-1: #03446e;
// $blue-2: #027eac;
// $blue-3: #009cd4;
// $blue-4: #00c2ee;
// $blue-5: #c1e7f7;
// $blue-6: #f1f5f8;
// $green: #048665;
// $red: #da380b;
// $x-dark: #192932;

$accent: $accent-blue;
$pale: $blue-gray-50;
$pastel: $pastel-blue;

$white: #fff;
$black: #000;
$gray: #666;
$transparent: transparent;

// bootstrap colors overrides
$body-color: $dark-gray;
$primary: $dark-blue;
$secondary: $light-blue;
$light: $blue-gray-50;
$dark: $dark-gray;
$muted: $medium-gray;

// additional theme colors
$theme-colors: (
  'accent': $accent,
  'pastel': $pastel,
  'medium': $medium-blue,
  'pastel-light': $pastel-blue-40,
  'pale': $pale,
  'dark': $dark,
  'muted': $muted,
  'light': $light,
  'medium-gray': $medium-gray,
  'gray': $gray,
);

// chart colors
$chart-tooltip-background: rgba(46, 49, 49, 0.75);


// ----- global -----
$enable-shadows: true;
$border-width: 1px;
$border-color: $light-gray;
$border-style: $border-width solid $border-color;
$box-shadow: 0 2px 3px 0 rgba($primary, 0.25);
$hover-bg: $pale;
$hover-border-color: $pale;

// links
$link-hover-color: $accent;

// buttons
$btn-disabled-opacity: 1;
$btn-padding-y: 1rem;
$btn-padding-x: 0.75rem;
$btn-border-radius: 4px;
$btn-font-weight: 700;
$btn-link-disabled-color: $muted;
$btn-padding-y-sm: 0.75rem;
$btn-padding-x-sm: 1.5rem;
$btn-font-size-sm: $font-size-xs;
$btn-border-radius-sm: 4px;
$btn-box-shadow: none;
$btn-active-box-shadow: none;

$btn-hover-colors: (
  'primary': $secondary,
  'secondary': $accent,
);

// ----- dropdown -----
$dropdown-border-radius: 0;
$dropdown-spacer: 0;
$dropdown-bg: $white;
$dropdown-border-color: $primary;
$dropdown-link-color: $primary;
$dropdown-link-hover-color: $secondary;
$dropdown-link-hover-bg: $dropdown-bg;
$dropdown-link-active-bg: $dropdown-bg;
$dropdown-link-active-color: $secondary;

// inputs / search bar
$input-placeholder-color: $secondary;
$input-color: $secondary;
$input-border-radius: 0;


// ----- buttons -----
// $btn-focus-box-shadow: $input-btn-focus-box-shadow;
// $btn-padding-x: 1.275rem;
// $btn-padding-y: 0.725rem;


// ----- tables -----
$table-bg: $transparent;
$table-accent-bg: $light;
$table-head-bg: $light;
$table-border-color: $border-color;
$table-border-width: 2px;
$table-striped-order: even;
$table-cell-padding: 0.25rem;

// ----- close icon -----
// $close-font-size: $h3-font-size;
// $close-color: $white;
// $close-text-shadow: none;


// ----- list group -----
$list-group-bg: $transparent;
$list-group-border-radius: 0;
$list-group-border-color: $secondary;
$list-group-border-width: 1px;
$list-group-item-padding-y: 1rem;
$list-group-item-padding-x: 0;


// ----- popovers -----
$popover-bg: $dark;
$popover-border-color: $popover-bg;
$popover-border-radius: 0;
$popover-arrow-width: 1rem;
$popover-arrow-height: 0.75rem;
$popover-box-shadow: none;

// ----- tooltips -----
$tooltip-bg: $white;
$tooltip-color: $dark;
$tooltip-opacity: 1;
$tooltip-border-radius: 0;

// ----- tabs -----
$nav-tabs-border-color: $light-gray;
$nav-tabs-border-width: 1px;
$nav-tabs-border-radius: 0;
$nav-tabs-link-hover-border-color: $primary;
$nav-tabs-link-active-color: $primary;
$nav-tabs-link-active-bg: $transparent;
$nav-tabs-link-active-border-color: $primary;

// ----- transitions (durations) -----
//
$trans-duration: 0.3s;
